container {

}

row {

}
img {

}
.fixed {
  background-color: lavender;
  position: fixed;
  width: 25%;
  height: auto;
  padding: 0.5%;
}
.intro {
  padding: 1%;
  margin: 0.5%;
  background-color: lightblue;
  width: 65%;
  float: right;
  margin-right: 2%;
}
table {
  padding: 1%;
  margin: 0.5%;
  background-color: lightblue;
  width: 67%;
  float: right;
  margin-right: 2%;
}
table img {
  padding: 2%;
}
tr {

}

.tours {
  padding: 1%;
  margin: 0.5%;
  background-color: lightgreen;
  width: 60%;
  height: 20%;
  margin-right: 2%;
  border-radius: 2%;
  border: 2px solid black;
  overflow: hidden;
}
#specialHover {
  display: none;
}

.other:hover #specialHover {
  display: inline-flex;
}
.other {
  padding: 1%;
  margin: 0.5%;
  background-color: pink;
  width: 65%;
  float: right;
  margin-right: 2%;
  display: flex;
}
.other img {
  margin-right: 2%;
}
